absl-py==2.1.0
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
Farama-Notifications==0.0.4
filelock==3.13.1
google-auth==2.27.0
google-auth-oauthlib==1.2.0
grpcio==1.62.1
gymnasium==0.29.1
idna==3.6
importlib-metadata==7.0.1
pip-install==1.3.5
Jinja2==3.1.3
joblib==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.2
Pillow==10.2.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygame==2.5.2
pyparsing==3.1.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.4.0
scipy==1.12.0
sympy==1.12
tensorboard==2.15.2
tensorboard-data-server==0.7.2
threadpoolctl==3.3.0
tqdm==4.66.2
typing_extensions==4.9.0
urllib3==2.2.1
Werkzeug==3.0.1
zipp==3.18.1
packaging==25.0